<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt-BR" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt-BR" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt-BR" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt-BR" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<!-- Mirrored from formulanegocioonline.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Mar 2019 15:33:16 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="pingback" href="xmlrpc.html" />
<!-- OptimizePress SEO options -->
<title>Fórmula Negócio Online - Site Oficial - Saiba Tudo Aqui</title>
<meta property="og:type" content="article" />
<meta property="og:url" content="index.html" />
<meta property="og:title" content="Fórmula Negócio Online - Site Oficial - Saiba Tudo Aqui" />
<!-- OptimizePress SEO options end -->
<title>Fórmula Negócio Online - Site Oficial - Saiba Tudo Aqui</title>

<link rel="shortcut icon" href="https://formulanegocioonline.com/wp-content/uploads/2018/09/FNO-Favicon.png" />

<!-- This site is optimized with the Yoast SEO plugin v9.7 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Este é o site oficial do Fórmula Negócio Online, e através deste link que você vai descobrir tudo sobre o treinamento #01 do mercado digital."/>
<link rel="canonical" href="index.html" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Fórmula Negócio Online - Site Oficial - Saiba Tudo Aqui" />
<meta property="og:description" content="Este é o site oficial do Fórmula Negócio Online, e através deste link que você vai descobrir tudo sobre o treinamento #01 do mercado digital." />
<meta property="og:url" content="index.html" />
<meta property="og:site_name" content="Formula Negocio Online" />
<script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"https://formulanegocioonline.com/#website","url":"https://formulanegocioonline.com/","name":"Formula Negocio Online","potentialAction":{"@type":"SearchAction","target":"https://formulanegocioonline.com/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="Feed para Formula Negocio Online &raquo;" href="feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Feed de comentários para Formula Negocio Online &raquo;" href="comments/feed/index.html" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/formulanegocioonline.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1.1"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://formulanegocioonline.com/wp-includes/css/dist/block-library/style.min.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://formulanegocioonline.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='tve_style_family_tve_flt-css'  href='https://formulanegocioonline.com/wp-content/plugins/thrive-leads/tcb/editor/css/thrive_flat.css?ver=2.1.11' type='text/css' media='all' />
<link rel='stylesheet' id='tve_leads_forms-css'  href='http://formulanegocioonline.com/wp-content/plugins/thrive-leads/editor-layouts/css/frontend.css?ver=2.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='tcf_ef0ad16a4185cf8733c4e878f2cc0cbb-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C600%2C300italic&amp;ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='tcf_ac5df6eb17039f0a84d92dcdeb60ad15-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C800%2C400italic%2C800italic&amp;ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='tve-leads-font-9062833c9baa57b288ba47a7993dc1c0-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600%2C700&amp;ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='tve-leads-two_set-css'  href='http://formulanegocioonline.com/wp-content/plugins/thrive-leads/editor-templates/_form_css/two_set.css?ver=2.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='op_map_custom-css'  href='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlusPack/css/elements/op_map.min.css?ver=1.1.10' type='text/css' media='all' />
<link rel='stylesheet' id='optimizepress-page-style-css'  href='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/pages/marketing/1/style.min.css?ver=2.5.19.1' type='text/css' media='all' />
<link rel='stylesheet' id='optimizepress-default-css'  href='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/assets/default.min.css?ver=2.5.19.1' type='text/css' media='all' />
<link rel='stylesheet' id='optimizepressplus-pack-css-front-all-css'  href='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlusPack/css/elements/opplus-front-all.min.css?ver=1.1.10' type='text/css' media='all' />
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var OptimizePress = {"ajaxurl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","SN":"optimizepress","version":"2.5.19.1","script_debug":".min","localStorageEnabled":"","wp_admin_page":"","op_live_editor":"1","op_page_builder":"1","op_create_new_page":"","imgurl":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/images\/","OP_URL":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/","OP_JS":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/js\/","OP_PAGE_BUILDER_URL":"","include_url":"https:\/\/formulanegocioonline.com\/wp-includes\/","op_autosave_interval":"300","op_autosave_enabled":"N","paths":{"url":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/","img":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/images\/","js":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/js\/","css":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/css\/"},"social":{"twitter":"optimizepress","facebook":"optimizepress","googleplus":"111273444733787349971"},"flowplayerHTML5":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/modules\/blog\/video\/flowplayer\/flowplayer.swf","flowplayerKey":"","flowplayerLogo":"","mediaelementplayer":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlugin\/lib\/modules\/blog\/video\/mediaelement\/","pb_unload_alert":"This page is asking you to confirm that you want to leave - data you have entered may not be saved.","pb_save_alert":"Please make sure you are happy with all of your options as some options will not be able to be changed for this page later.","search_default":"Search...","ems_providers":{"infusionsoft":"InfusionSoft"},"optimizemember":{"enabled":false,"version":"0"},"OP_LEADS_URL":"https:\/\/my.optimizeleads.com\/","OP_LEADS_THEMES_URL":"https:\/\/my.optimizeleads.com\/build\/themes\/","google_recaptcha_site_key":"","map":{"gmapsApiKey":""},"oppp":{"version":"1.1.10","path":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/optimizePressPlusPack\/"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/op-jquery-base-all.min.js?ver=2.5.19.1'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/op-front-all.min.js?ver=2.5.19.1'></script>
<link rel='https://api.w.org/' href='wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://formulanegocioonline.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.1.1" />
<link rel='shortlink' href='index.html' />
<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed5f21.json?url=https%3A%2F%2Fformulanegocioonline.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embedd783?url=https%3A%2F%2Fformulanegocioonline.com%2F&amp;format=xml" />
<!-- HFCM by 99 Robots - Snippet # 1: Google Remarketing -->
<!-- Código do Google para tag de remarketing Conta AlexVargasPro-->
<!-- Global site tag (gtag.js) - AdWords: 956562129 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-956562129"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-956562129');
</script>

<!-- Código do Google para tag de remarketing Conta 328-983-6364-->
<!-- Global site tag (gtag.js) - AdWords: 803854466 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-803854466"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-803854466');
</script>
<!-- /end HFCM by 99 Robots -->
<!-- HFCM by 99 Robots - Snippet # 3: Fontes -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
<!-- /end HFCM by 99 Robots -->
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='75601564-12',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code --> <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1483783201703046');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1483783201703046&amp;ev=PageView&amp;noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35072726-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-35072726-10');
</script>



		<script id="hotmart_launcher_script">
			(function(l,a,u,n,c,h,e,r){l['HotmartLauncherObject']=c;l[c]=l[c]||function(){
			(l[c].q=l[c].q||[]).push(arguments)},l[c].l=1*new Date();h=a.createElement(u),
			e=a.getElementsByTagName(u)[0];h.async=1;h.src=n;e.parentNode.insertBefore(h,e)
			})(window,document,'script','http://launcher.hotmart.com/launcher.js','hot');

			hot('account','b49cf958-6350-4edc-8334-68b46e46a4a3');
		</script>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
jQuery.get("https://timezoneapi.io/api/ip", function (response) {
	if (response.data && response.data.timezone && response.data.timezone.id && response.data.timezone.id.startsWith('Europe')) {

    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
"palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "theme": "classic",
  "position": "bottom-left",
  "content": {
    "message": "Este Website usa cookies para garantir a você a melhor experiência em nosso site. Ao navegar, você concorda com o uso dos cookies.",
    "dismiss": "Aceito",
    "link": "Saiba Mais",
    "href": "https://formulanegocioonline.com/politicas-de-privacidade/"

      }
    })});

	}
});
</script><style type="text/css">#tve_editor .ttfm1{font-family: 'Open Sans' !important;font-weight: 400 !important;}.ttfm1 input, .ttfm1 select, .ttfm1 textarea, .ttfm1 button {font-family: 'Open Sans' !important;font-weight: 400 !important;}#tve_editor .ttfm1.bold_text,.ttfm1 .bold_text,.ttfm1 b,.ttfm1 strong{font-weight: 600 !important;}.ttfm1.bold_text,.ttfm1 .bold_text,.ttfm1 b,.ttfm1 strong input, .ttfm1.bold_text,.ttfm1 .bold_text,.ttfm1 b,.ttfm1 strong select, .ttfm1.bold_text,.ttfm1 .bold_text,.ttfm1 b,.ttfm1 strong textarea, .ttfm1.bold_text,.ttfm1 .bold_text,.ttfm1 b,.ttfm1 strong button {font-weight: 600 !important;}#tve_editor .ttfm2{font-family: 'Open Sans' !important;font-weight: 300 !important;}.ttfm2 input, .ttfm2 select, .ttfm2 textarea, .ttfm2 button {font-family: 'Open Sans' !important;font-weight: 300 !important;}#tve_editor .ttfm2.bold_text,.ttfm2 .bold_text,.ttfm2 b,.ttfm2 strong{font-weight: 600 !important;}.ttfm2.bold_text,.ttfm2 .bold_text,.ttfm2 b,.ttfm2 strong input, .ttfm2.bold_text,.ttfm2 .bold_text,.ttfm2 b,.ttfm2 strong select, .ttfm2.bold_text,.ttfm2 .bold_text,.ttfm2 b,.ttfm2 strong textarea, .ttfm2.bold_text,.ttfm2 .bold_text,.ttfm2 b,.ttfm2 strong button {font-weight: 600 !important;}#tve_editor .ttfm3{font-family: 'Open Sans' !important;font-weight: 400 !important;}.ttfm3 input, .ttfm3 select, .ttfm3 textarea, .ttfm3 button {font-family: 'Open Sans' !important;font-weight: 400 !important;}#tve_editor .ttfm3.bold_text,.ttfm3 .bold_text,.ttfm3 b,.ttfm3 strong{font-weight: 800 !important;}.ttfm3.bold_text,.ttfm3 .bold_text,.ttfm3 b,.ttfm3 strong input, .ttfm3.bold_text,.ttfm3 .bold_text,.ttfm3 b,.ttfm3 strong select, .ttfm3.bold_text,.ttfm3 .bold_text,.ttfm3 b,.ttfm3 strong textarea, .ttfm3.bold_text,.ttfm3 .bold_text,.ttfm3 b,.ttfm3 strong button {font-weight: 800 !important;}</style>
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/selectivizr-1.0.2-min.js?ver=1.0.2"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js//html5shiv.min.js"></script>
        <![endif]-->
    
            <style type="text/css" id="op_header_css">
            p, .single-post-content li, #content_area li, .op-popup-button .default-button{font-style:normal;font-weight:normal}.latest-post .continue-reading a, .post-content .continue-reading a, .older-post .continue-reading a,.main-content-area .single-post-content a,.featured-panel a,.sub-footer a, .main-sidebar a, .toggle-panel .toggle-panel-toggle-text{text-decoration:none}.latest-post .continue-reading a:hover, .post-content .continue-reading a:hover, .older-post .continue-reading a:hover,.main-content-area .single-post-content a:hover,.featured-panel a:hover,.sub-footer a:hover, .main-sidebar a:hover, .toggle-panel .toggle-panel-toggle-text:hover{text-decoration:none}a, a:visited, a:link{text-decoration:none}a:hover{text-decoration:none}a,a:visited{text-decoration:none}a:hover{text-decoration:none}.footer-navigation ul li a{text-decoration:none}.footer-navigation ul li a:hover{text-decoration:none}.footer a{text-decoration:none}.footer a:hover{text-decoration:none}.footer small.footer-copyright a{text-decoration:none}.footer small.footer-copyright a:hover{text-decoration:none}.footer small.footer-disclaimer a{text-decoration:none}.footer small.footer-disclaimer a:hover{text-decoration:none}
            </style>
            <link rel="icon" href="https://formulanegocioonline.com/wp-content/uploads/2018/09/favicon-f-2-300x300.png" sizes="32x32" />
<link rel="icon" href="https://formulanegocioonline.com/wp-content/uploads/2018/09/favicon-f-2-300x300.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://formulanegocioonline.com/wp-content/uploads/2018/09/favicon-f-2-300x300.png" />
<meta name="msapplication-TileImage" content="https://formulanegocioonline.com/wp-content/uploads/2018/09/favicon-f-2-300x300.png" />
		<style type="text/css" id="wp-custom-css">
			.info-gdpr{
	background: #ccc;
	padding:0px 6px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}

.footer .footer-navigation{
	text-align: center;
	width: 100% !important;
}

.videoyoutube{
	text-align: center;
}



/* GERAL */
body{
	font-family: 'Poppins', sans-serif !important;
	font-size: 17px !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: padding .8s ease;
	-webkit-transition: padding .8s ease;
	-moz-transition: padding .8s ease;
	text-rendering: optimizelegibility;
}

body > div {
	font-size: 17px !important;
	font-family: 'Poppins', sans-serif !important;
}

body, p, li, ul {
	font-size: 17px !important;
}

body, p, h1, h2, h3, h4, h5, h6, li, ul {
	font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}

/*DIMINUI LOGO OPTPRESS*/
.op-live-editor-page .banner{
	padding:17px 0;
}
.op-live-editor-page .banner .op-logo img{
	max-width:160px;
}

/* REGULA PAGINAS EM OPTPRESS*/
.op-live-editor-page .container{
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}

.op-live-editor-page .main-content{
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}

/*PARTE DE CIMA DOWNLOAD BOTAO SEM QUEBRAR LINHA*/
.box-download a{
	color: #4484fb;
	background: #fff;
	padding: 5px 10px;
	border-radius: 50px; 
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
	line-height: 30px;
}

.apagar h6{
	padding: 5px 10px;
	border-radius: 50px; 
	background-color: rgba(255, 255, 255, 0.2); 
}

/*---*/

/*BACKGROUND PADRÃO NOVO NEGATIVO*/
.back-azul-padrao-novo{
	background-blend-mode:overlay;
	background-color:initial!important;
	background-image:url(https://trabalharemcasanaweb.com/wp-content/uploads/2018/08/geometric-bg-overlay-01.jpg),linear-gradient(135deg,#53a0fd 0%,#4161d4 100%)!important;
	background-size: cover !important;
}

.parte-negativa{
  margin-top: -160px;
}

/*---*/

.cifrao{
	font-size: 18px;
}

/*MENSAGEM DE ATUALIZACAO*/

.atualizacoes .feature-box-creator{
	border-radius: 10px !important;
  background: rgba(255, 255, 255, 0.07) !important; 
	
}

#atualizacoes1{
position: relative;
text-align:center;
padding: 10px;
width: 100%;
margin: 0 auto;
}

#atualizacoes1 a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('https://formulanegocioonline.com/empty.gif');
}

#atualizacoes2{
position: relative;
text-align:center;
padding: 10px;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.07); 
width: 100%;
margin: 0 auto;
	color: #4484fb !important;
	margin-bottom: 25px; 
}


#atualizacoes2 a span { 
  position:absolute; 
  width:81%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('https://formulanegocioonline.com/empty.gif');
	color: #4484fb !important;
}




/* HIGHLIGHT MENU LINK */
.item_menu_conheca_fno {
border:2px solid #fff;
-webkit-border-radius: 100px;
}

.item_menu_conheca_fno a {
font-weight: 600 !important;
}



/*Plugin GDPR*/
.info-gdpr{
	background: #ccc;
	padding:0px 6px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}


/*Footer OPT Press*/
.footer .footer-navigation{
	text-align: center;
	width: 100% !important;
}

.footer {
	background: #212121 !important;
	border-top: 1px solid !important;
	padding-top: 48px !important;
		padding-bottom: 48px !important;
}

.footer p{
	font-size: 14px !important; 
}

.footer .fixed-width{
	padding-bottom: 0px;
}

.footer .footer-navigation{
	margin-bottom: 25px;
}

.footer-copyright{
	text-align: center;
	width: 100% !important;
}

/*Pagina de captura botao down*/

section {
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  }


.demo{
	text-align: center !important;
	 
}

.demo a {
	z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}






/*Captura no header feita com thriveleads*/
.header-personalizado-conteudos{
	margin-top: 74px !important;
	padding: 0px; 
	background: #4161d4;
	background-blend-mode:overlay;
	background-color:initial!important;
	background-image:url(https://trabalharemcasanaweb.com/wp-content/uploads/2018/08/geometric-bg-overlay-01.jpg),linear-gradient(180deg,#4161d4 0%,#53a0fd 100%);
	background-size: cover;	
}




/*Algum efeito que usei nas paginas de vendas em optpress*/
.texto li{
	list-style:outside;
	margin-left:52px;
	margin-right:52px;
}

.lista-no-meio-do-texto{
	margin-top: -10px;
}

.lista-no-meio-do-texto li{
	margin-bottom: 0px !important;
	margin-left: 40px;
}

.no-centro{
	text-align: center !important; 
}

.link-botao-texto {
	-webkit-box-shadow: 0px 21px 59px -10px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 21px 59px -10px rgba(0,0,0,0.37);
box-shadow: 0px 21px 59px -10px rgba(0,0,0,0.37);
	background-color:#cccccc;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	display:inline-block;
	cursor:pointer;
	color:#4484fb;
	font-size:17px;
	font-weight:600 !important;
	padding:13px 32px;
	text-decoration:none;
	text-align: center;
}

.link-botao-texto strong{
	font-size:13px !important;
	font-weight:300 !important;
	text-transform: capitalize;
	}

.pagina-de-vendas-opt .titulo-medio h1{		
  font-size: 38px !important;	
  font-weight: 600 !important;
	letter-spacing: -1px !important;
	line-height: 1.3em !important;
	}	

.pagina-de-vendas-opt .titulo-medio h1 strong{		
	font-weight: 700 !important;
	background: #ffff00 !important;
	color: #000 !important;
	border-radius: 100px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}	

.pagina-de-vendas-opt h2{
	font-size: 37px !important;	
	line-height: 1.18em !important;
}

.pagina-de-vendas-opt .titulo-pequeno p{
	max-width: 730px  !important;
	margin: 0 auto !important;
	line-height: 1.3em !important;
}

.pagina-de-vendas-opt .titulo-pequeno h4{
	max-width: 730px  !important;
	margin: 0 auto !important;
	font-weight: 600 !important;
	}

.pagina-de-vendas-opt .titulo-pequeno-cinza h4{
	color: #aaaaaa !important;
	max-width: 730px  !important;
	margin: 0 auto !important;
	font-weight: 300 !important;
	font-size: 16px !important;
	margin-bottom: 10px !important;
	}


/*---*/


.conteudos-treinamento{
	background: #fff;
	border: 1px dashed;
	border-color: #4484fb; 
	padding: 48px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento h3{
	text-align: center;
	padding: 21px 30px 10px 30px;
	font-size: 18px !important;
	background: #4484fb;
	margin: -48px -48px 0 -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
	font-weight: 400 !important; 
}

.conteudos-treinamento h2{
	text-align: center;
	padding: 7px 100px 21px 100px;
	font-size: 30px !important;
	background: #4484fb;
	margin: -10px -48px 30px -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento img{
	max-width: 380px !important;
	float: left !important;
	margin: 0 30px 30px 0;
}

.conteudos-treinamento ul{
	clear: both;
	padding-left: 48px;
}

.conteudos-treinamento ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-destaque{
	background: #fff;
	border: 1px dashed;
	border-color: #4843d2; 
	padding: 48px; 
	border-radius: 10px;
	box-shadow:0 0 150px rgba(72,67,210,0.4);
	margin-bottom: 48px;
}

.conteudos-treinamento-destaque h3{
	text-align: center;
	padding: 21px 30px 10px 30px;
	font-size: 18px !important;
	background: #4843d2;
	margin: -48px -48px 0 -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
	font-weight: 400 !important; 
}

.conteudos-treinamento-destaque h2{
	text-align: center;
	padding: 7px 100px 21px 100px;
	font-size: 30px !important;
	background: #4843d2;
	margin: -10px -48px 30px -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-destaque img{
	max-width: 410px !important;
}

.conteudos-treinamento-destaque ul{
	clear: both;
	padding-left: 48px;
}

.conteudos-treinamento-destaque ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-bonus{
	background: #fff;
	border: 1px dashed;
	border-color: #f92c8b; 
	padding: 48px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-bonus h3{
	text-align: center;
	padding: 21px 30px 10px 30px;
	font-size: 18px !important;
	background: #f92c8b;
	margin: -48px -48px 0 -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
	font-weight: 400 !important;
}

.conteudos-treinamento-bonus h2{
	text-align: center;
	padding: 10px 50px 25px 50px;
	text-align: center;
	padding: 7px 100px 21px 100px;
	font-size: 30px !important;
	background: #f92c8b;
	margin: -10px -48px 30px -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-bonus img{
	max-width: 430px !important;
	float: none !important;
	margin: 0 auto;
}

.conteudos-treinamento-bonus ul{
	clear: both;
	padding-left: 48px;
}

.conteudos-treinamento-bonus ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-black{
	background: #fff;
	border: 1px dashed;
	border-color: #000; 
	padding: 48px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-black h3{
	text-align: center;
	padding: 21px 30px 10px 30px;
	font-size: 18px !important;
	background: #000;
	margin: -48px -48px 0 -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
	font-weight: 400 !important;
}

.conteudos-treinamento-black h2{
	text-align: center;
	padding: 7px 100px 21px 100px;
	font-size: 30px !important;
	background: #000;
	margin: -10px -48px 30px -48px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-black img{
	max-width: 430px !important;

}

.conteudos-treinamento-black ul{
	clear: both;
	padding-left: 48px;
}

.conteudos-treinamento-black ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.lista-horizontal-01{
	margin-bottom: 25px;
}

.lista-horizontal-01 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 18px; 
	background: #fff;
	text-align: center !important;
}

.lista-horizontal-01 .element-container h4 {

	background: #ecf2ff;
	padding: 5px;
	border-radius: 100px;
	margin-bottom: 7px;
	font-weight: 600 !important;
	text-align: center;
}

.lista-horizontal-01 .element-container p {
	text-align: center !important;	
font-size: 16px; 
}

.lista-horizontal-01 .element-container img {
	max-width: 52px !important;
}


/*---*/


.lista-horizontal-02{
	margin-bottom: 25px;
}

.lista-horizontal-02 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 18px; 
	background: #fff;
}

.lista-horizontal-02 .element-container h4 {
	text-align: center !important;
		background: #ecf2ff;
	padding: 5px;
	border-radius: 100px;
	margin-bottom: 7px;
}

.lista-horizontal-02 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-02 .element-container img{
	background: #4484fb;
	border-radius: 100px;
	padding: 10px;
	text-align: center;
	max-width: 52px !important;
}


/*---*/


.lista-horizontal-03{
	margin-bottom: 25px;
}

.lista-horizontal-03 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 21px; 
}

.lista-horizontal-03 .element-container h4 {
	text-align: center !important;	
		background: #ecf2ff;
	padding: 5px;
	border-radius: 100px;
	margin-bottom: 7px;
}

.lista-horizontal-03 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-03 .element-container img{
	max-width: 52px !important;
}


/*---*/

.lista-horizontal-04{
	margin-bottom: 25px;
	
}

.lista-horizontal-04 .element-container{
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	margin: 0 auto;
	background: #fff;
	border-top: 5px solid #4484fb;
	}

.lista-horizontal-04 .element-container img{
	max-width: 40px;
}

.lista-horizontal-04 .element-container p {
	padding: 21px !important; 
	color: #535b7c;
	text-align: center !important; 
	font-weight: 600;
}


.lista-horizontal-04 .element-container .op-text-block {
	margin-bottom: 0px; 
}



/*---*/


.lista-vertical-01{
	margin-left:0px;
	margin-right:0px;
	max-width: 810px;
	margin: 0 auto !important; 
	
}

.lista-vertical-01 li{
	list-style-type:none;
	padding:40px 40px 40px 80px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:30px 40px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border-top: 5px solid #4484fb;
	box-shadow:0 10px 150px rgba(51,73,90,.2);
}


/*---*/


.lista-vertical-02{
	margin-left:0px;
	margin-right:0px;
	max-width: 810px;
	margin: 0 auto !important; 
	border-radius: 10px;
	border-top: 5px solid #f92c8b;
  background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lista-vertical-02 li{
	list-style-type:none;
	padding:10px 40px 10px 100px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:60px 7px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 10px;
}


/*---*/

.lista-vertical-03{
	margin-left:0px;
	margin-right:0px;
	max-width: 810px;
	margin: 0 auto !important; 
	
}

.lista-vertical-03 li{
	list-style-type:none;
	padding:30px 40px 30px 80px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2018/12/CHECK-3.png);
	background-position:30px 30px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border-left: 5px solid #4484fb;
	box-shadow:0 10px 150px rgba(51,73,90,.2);
}


/*---*/


.img-whats img{
	padding: 25px;
	background: #9dbffd !important;
	border-radius: 10px;
}





/*--- COMECA RESPONSIVO*/

@media only screen and (max-width: 759px){
	
	body, p, li, ul{
		font-size:15px !important;
	}
	
	h2{
		font-size:30px !important;
		line-height:36px !important;
	}
	
	h3{
		font-size:18px !important;
		line-height:24px !important;
	}
	
	.menu-toggle{
		color: #fff;
	}
	
	.menu-toggle:hover{
		color: #fff;
	}
	
	/* HIGHLIGHT MENU LINK */
	.item_menu_conheca_fno {
		margin-left: -10px;
		padding-left: 10px;
}	
	
	/*Captura no header feita com thriveleads*/
.header-personalizado-conteudos{
	margin-top: 0px !important;
}
	
	.op-live-editor-page .fixed-width{
		width: 81% !important;

	}
	
	.op-live-editor-page .column{
		width: 100% !important;
	}
	
.pagina-de-vendas-opt .titulo-grande h1{		
		font-size: 40px !important;
	}		

.pagina-de-vendas-opt .titulo-medio h1{		
  font-size: 26px !important;	
  font-weight: 600 !important;
	letter-spacing: 0 !important;
	line-height: 1.25em !important;
	}	

.pagina-de-vendas-opt .titulo-medio h1 strong{		
	font-weight: 700 !important;
	background: #ffff00 !important;
	color: #000 !important;
	border-radius: 100px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}	

.pagina-de-vendas-opt h2{
	font-size: 26px !important;	
	line-height: 1.25em !important;
}

.pagina-de-vendas-opt .titulo-pequeno p{
	max-width: 730px  !important;
	margin: 0 auto !important;
	line-height: 1.3em !important;
}

.pagina-de-vendas-opt .titulo-pequeno h4{
	max-width: 730px  !important;
	margin: 0 auto !important;
	font-weight: 600 !important;
	}

.pagina-de-vendas-opt .titulo-pequeno-cinza h4{
	color: #aaaaaa !important;
	max-width: 730px  !important;
	margin: 0 auto !important;
	font-weight: 300 !important;
	font-size: 15px !important;
	margin-bottom: 10px !important;
	}
	
	
	/*---*/

	
.conteudos-treinamento{
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento h3{
	text-align: center;
	padding: 21px 50px 7px 50px;
	font-size: 20px;
	background: #4484fb;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento h2{
	text-align: center;
	padding: 7px 50px 21px 50px;
	font-size: 26px;
	letter-spacing: 0;
	background: #4484fb;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento h2+p{
	max-width: 410px !important;
	clear: both !important;
	text-align: center !important;
  margin: 0 auto !important;
}
	
.conteudos-treinamento p img{
	float: none !important;
	padding-bottom: 12px;
}

.conteudos-treinamento ul{
	clear: both;
	padding-left: 24px;
}

.conteudos-treinamento ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-destaque{
	background: #fff;
	border: 1px dashed;
	border-color: #4843d2; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 0 150px rgba(72,67,210,0.4);
	margin-bottom: 48px;
}

.conteudos-treinamento-destaque h3{
	text-align: center;
	padding: 21px 50px 7px 50px;
	font-size: 20px;
	background: #4843d2;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-destaque h2{
	text-align: center;
	padding: 7px 50px 21px 50px;
	font-size: 26px;
	letter-spacing: 0;
	background: #4843d2;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-destaque p>img{
	max-width: 100%;
	float: none;
	margin: 0 auto;
}

.conteudos-treinamento-destaque ul{
	clear: both;
	padding-left: 24px;
}

.conteudos-treinamento-destaque ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-bonus{
	background: #fff;
	border: 1px dashed;
	border-color: #f92c8b; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-bonus h3{
	text-align: center;
	padding: 21px 50px 7px 50px;
	font-size: 20px;
	background: #f92c8b;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-bonus h2{
	text-align: center;
	padding: 7px 50px 21px 50px;
	font-size: 26px;
	letter-spacing: 0;
	background: #f92c8b;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-bonus p>img{
	max-width: 100%;
	float: none;
	margin: 0 auto;
}

.conteudos-treinamento-bonus ul{
	clear: both;
	padding-left: 24px;
}

.conteudos-treinamento-bonus ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-black{
	background: #fff;
	border: 1px dashed;
	border-color: #000; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-black h3{
	text-align: center;
	padding: 21px 50px 7px 50px;
	font-size: 20px;
	background: #000;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-black h2{
	text-align: center;
	padding: 7px 50px 21px 50px;
	font-size: 26px;
	letter-spacing: 0;
	background: #000;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-black img{
	max-width: 100%;
	float: none;
	margin: 0 auto;
}

.conteudos-treinamento-black ul{
	clear: both;
	padding-left: 24px;
}

.conteudos-treinamento-black ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.lista-horizontal-01{
	margin-bottom: 25px;
}

.lista-horizontal-01 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
}

.lista-horizontal-01 .element-container h4 {
	text-align: center !important;
	font-size: 21px !important;
}

.lista-horizontal-01 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-01 .element-container img {
	max-width: 52px !important;
}


/*---*/


.lista-horizontal-02{
	margin-bottom: 25px;
}

.lista-horizontal-02 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
	background: #fff;
}

.lista-horizontal-02 .element-container h4 {
	text-align: center !important;
	font-size: 21px !important;
}

.lista-horizontal-02 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-02 .element-container img{
	background: #4484fb;
	border-radius: 100px;
	padding: 10px;
	text-align: center;
	max-width: 52px !important;
}


/*---*/


.lista-horizontal-03{
	margin-bottom: 25px;
}

.lista-horizontal-03 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
}

.lista-horizontal-03 .element-container h4 {
	text-align: center !important;	
	font-size: 21px !important;
}

.lista-horizontal-03 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-03 .element-container img{
	max-width: 52px !important;
}


/*---*/
	
.lista-horizontal-04{
	margin-bottom: 25px;
}

.lista-horizontal-04 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
}
	
.lista-horizontal-04 .element-container h4 {
	text-align: center !important;	
	font-size: 21px !important;
}

.lista-horizontal-04 .element-container p {
	text-align: center !important;	
}
	
/*---*/


.lista-vertical-01{
	margin-left:0px;
	margin-right:0px;
	max-width: 100%;
	margin: 0 auto !important; 
}

.lista-vertical-01 li{
	list-style-type:none;
	padding:20px 20px 20px 80px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:20px 30px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border-top: 5px solid #4484fb;
}


/**/


.img-whats img{
	padding: 25px;
	background: #9dbffd !important;
	border-radius: 10px;
}

	
}


@media only screen and (max-width: 479px){
	
	body, p, li, ul{
		font-size:14px !important;
	}
	
	h2{
		font-size:27px !important;
		line-height:32px !important;
		letter-spacing: -1px !important;
	}

	h3{
		font-size:25px !important;
		line-height:29px !important;
	} 
	
	h4{
		font-size:20px !important;
		line-height:24px !important;
	} 
	
	h5{
		font-size:15px !important;
		line-height:18px !important;
	} 
	
	h6{
		font-size:14px !important;
		line-height:16px !important;
	} 
	
	
	.cifrao{
		font-size: 14px;
	}
	
	.botao-responsivo span{
		font-size: 16px !important;
	}
	
	.botao-responsivo a{
		padding-top:21px !important;
		padding-bottom:28px !important;
	}
	
	.botao-responsivo{
		width: 90%;
		margin: 0 auto;
	}
	
	.back-azul-padrao-novo{
		padding-bottom: 100px !important;
	}
	
	.parte-negativa{
    margin-top: -100px !important;
  }
	
	.imagem-pagina-de-captura{
		padding: 0px 25px 0 25px !important; 
	}
	
	
	
	
	
	
	
	
	.feature-block h2{
		font-size: 15px !important;
		line-height: 20px !important;
	}
	
	
	
	
	
	
	
	.op-live-editor-page .fixed-width{
		width: 97% !important;

	}
	
	.op-live-editor-page .column{
		width: 100% !important;
	}
	
	
	
	
	
	
	/*Conteudo*/
.entry-title{
	margin-bottom: 5px;
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0px; 
	text-transform: capitalize;
}


.entry-content{
  background: #fff;
	border-radius: 10px !important;
	padding: 20px;	 
}
	
	
	.pagina-de-vendas-opt .titulo-grande h2{		
  font-size: 34px !important;	
  font-weight: 600 !important;
	letter-spacing: 0 !important;
	line-height: 1.18em !important;
	}	
	
	.pagina-de-vendas-opt .titulo-medio h1{		
  font-size: 24px !important;	
  font-weight: 600 !important;
	letter-spacing: 0px !important;
	line-height: 1.3em !important;
	}	

.pagina-de-vendas-opt .titulo-medio h1 strong{		
	font-weight: 700 !important;
	background: #ffff00 !important;
	color: #000 !important;
	border-radius: 100px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}	

.pagina-de-vendas-opt h2{
	font-size: 21px !important;	
	line-height: 1.3em !important;
	letter-spacing: 0px !important;
}

.pagina-de-vendas-opt .titulo-pequeno p{
	max-width: 730px  !important;
	margin: 0 auto !important;
	line-height: 1.3em !important;
	font-size: 14px !important; 
}

.pagina-de-vendas-opt .titulo-pequeno h4{
	max-width: 730px  !important;
	margin: -5px auto 12px auto !important;
	font-weight: 600 !important;
	font-size: 15px !important; 
	}

.pagina-de-vendas-opt .titulo-pequeno-cinza h4{
	color: #aaaaaa !important;
	max-width: 730px  !important;
	margin: 0 auto !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	margin-bottom: 10px !important;
	}
	
	
	
	
	
	
	
	
	
	.conteudos-treinamento{
	padding: 18px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento h3{
	text-align: center;
	padding: 25px 25px 10px 25px;
	font-size: 17px;
	background: #4484fb;
	margin: -18px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento h2{
	text-align: center;
	padding: 0px 25px 25px 25px;
	font-size: 26px;
	letter-spacing: 0;
	background: #4484fb;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento p>img{
	max-width: 100% !important;
	float: none;
	margin: 0 auto 12px auto !important;
}

.conteudos-treinamento ul{
	clear: both;
	padding-left: 12px !important;
}

.conteudos-treinamento ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-destaque{
	background: #fff;
	border: 1px dashed;
	border-color: #4843d2; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 0 150px rgba(72,67,210,0.4);
	margin-bottom: 48px;
}

.conteudos-treinamento-destaque h3{
	text-align: center;
	padding: 25px 25px 10px 25px;
	font-size: 17px;
	background: #4843d2;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-destaque h2{
	text-align: center;
	padding: 0px 25px 25px 25px;
	font-size: 26px;
	letter-spacing: 0px;
	background: #4843d2;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-destaque p>img{
	max-width: 100% !important;
	float: none;
	margin: 0 auto 25px auto !important;
}

.conteudos-treinamento-destaque ul{
	clear: both;
	padding-left: 24px;
}

.conteudos-treinamento-destaque ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-bonus{
	background: #fff;
	border: 1px dashed;
	border-color: #f92c8b; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-bonus h3{
	text-align: center;
	padding: 25px 25px 10px 25px;
	font-size: 17px;
	background: #f92c8b;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-bonus h2{
	text-align: center;
	padding: 0px 25px 25px 25px;
	font-size: 26px;
	letter-spacing: 0px;
	background: #f92c8b;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-bonus p>img{
	max-width: 100% !important;
	float: none;
	margin: 0 auto 25px auto !important;
}

.conteudos-treinamento-bonus ul{
	clear: both;
	padding-left: 12px;
}

.conteudos-treinamento-bonus ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.conteudos-treinamento-black{
	background: #fff;
	border: 1px dashed;
	border-color: #000; 
	padding: 24px; 
	border-radius: 10px;
	box-shadow:0 20px 150px rgba(51,73,90,.2);
	margin-bottom: 48px;
}

.conteudos-treinamento-black h3{
	text-align: center;
	padding: 25px 25px 10px 25px;
	font-size: 17px;
	background: #000;
	margin: -24px -24px 0 -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;  
}

.conteudos-treinamento-black h2{
	text-align: center;
	padding: 0px 25px 25px 25px;
	font-size: 26px;
	letter-spacing: 0px;
	background: #000;
	margin: -10px -24px 30px -24px;
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.conteudos-treinamento-black img{
	max-width: 100% !important;
	float: none;
	margin: 0 auto 25px auto !important;
}

.conteudos-treinamento-black ul{
	clear: both;
	padding-left: 12px;
}

.conteudos-treinamento-black ul li{
	list-style: none !important;
	padding:0px 0px 10px 40px;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:top left;
	background-repeat: no-repeat;
	margin-left:0px;
	margin-right:0px;
}


/*---*/


.lista-horizontal-01{
	margin-bottom: 25px;
}

.lista-horizontal-01 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
}

.lista-horizontal-01 .element-container h4 {
	text-align: center !important;	
	background: #ecf2ff;
	padding: 5px;
	border-radius: 100px;
	margin-bottom: 7px !important;
}

.lista-horizontal-01 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-01 .element-container img {
	max-width: 73px !important;
}


/*---*/


.lista-horizontal-02{
	margin-bottom: 25px;
}

.lista-horizontal-02 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
	background: #fff;
}

.lista-horizontal-02 .element-container h4 {
	text-align: center !important;	
}

.lista-horizontal-02 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-02 .element-container img{
	background: #4484fb;
	border-radius: 100px;
	padding: 10px;
	text-align: center;
	max-width: 100px !important;
}


/*---*/


.lista-horizontal-03{
	margin-bottom: 25px;
}

.lista-horizontal-03 .element-container{
	border: 2px solid #d0e0fe;
	box-shadow:0 10px 50px rgba(51,73,90,.2);
	border-radius: 12px;
	padding: 12px; 
}

.lista-horizontal-03 .element-container h4 {
	text-align: center !important;	
}

.lista-horizontal-03 .element-container p {
	text-align: center !important;	
}

.lista-horizontal-03 .element-container img{
	max-width: 100px !important;
}


/*---*/


.lista-vertical-01{
	margin-left:0px;
	margin-right:0px;
	max-width: 100%;
	margin: 0 auto !important; 
}

.lista-vertical-01 li{
	list-style-type:none;
	padding:20px 20px 20px 80px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2017/02/36.png);
	background-position:20px 30px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border-top: 5px solid #4484fb;
}


/*---*/


/*---*/

.lista-vertical-03{
	margin-left:0px;
	margin-right:0px;
	max-width: 100%;
	margin: 0 auto !important; 
	
}

.lista-vertical-03 li{
	list-style-type:none;
	padding:12px 20px 12px 80px !important;
	background-image:url(https://formulanegocioonline.com/wp-content/uploads/2018/12/CHECK-3.png);
	background-position:30px 15px !important;
	background-repeat: no-repeat; 
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border-left: 5px solid #4484fb;
	box-shadow:0 10px 150px rgba(51,73,90,.2);
}


/*---*/
	
/*---*/


.img-whats img{
	padding: 25px;
	background: #9dbffd !important;
	border-radius: 10px;
}
	
	
	
	
}


		</style>
		</head>
<body class="home page-template-default page page-id-5543 op-live-editor-page op-plugin">

<script type="text/javascript">
    var back_redirect_back_link = 'montar-um-negocio-online/index.html';

    history.pushState({},"",location.href);
    history.pushState({},"",location.href);

    window.onpopstate = function(){
        setTimeout(function () {
            location.href = back_redirect_back_link;
        },1);
    };
</script>
    <div class="container main-content">
        <div id="content_area" class=""><div style='background:#4484fb;padding-bottom:160px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable section back-azul-padrao-novo   " id="le_body_row_1" data-style="eyJlbGVtZW50SWQiOiJsZV9ib2R5X3Jvd18xIiwiY3NzQ2xhc3MiOiJiYWNrLWF6dWwtcGFkcmFvLW5vdm8iLCJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiM0NDg0ZmIiLCJwYWRkaW5nQm90dG9tIjoiMTYwIiwiYm9yZGVyVG9wV2lkdGgiOiIiLCJib3JkZXJUb3BDb2xvciI6IiIsImJvcmRlckJvdHRvbVdpZHRoIjoiIiwiYm9yZGVyQm90dG9tQ29sb3IiOiIiLCJzZWN0aW9uU2VwYXJhdG9yVHlwZSI6Im5vbmUiLCJzZWN0aW9uU2VwYXJhdG9yU3R5bGUiOiIiLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGVsYXkiOiIifSwicm93U2Nyb2xsRml4ZWRQb3NpdGlvbiI6Im5vbmUiLCJyb3dTY3JvbGxGaXhlZE1vYmlsZSI6ZmFsc2UsImFkZG9uIjp7InZpZGVvX2JhY2tncm91bmRfdHlwZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV93aWR0aCI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV9oZWlnaHQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF9tcDQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF93ZWJtIjoiIiwidmlkZW9fYmFja2dyb3VuZF91cmxfb2d2IjoiIiwidmlkZW9fYmFja2dyb3VuZF92ZXJ0aWNhbF9hbGlnbiI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9jb2xvciI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9vcGFjaXR5IjoiMCIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9pbWFnZSI6IiIsInZpZGVvX2JhY2tncm91bmRfaW1hZ2VfcG9zaXRpb24iOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX2FsdGVybmF0aXZlX2ltYWdlIjoiIn19"><div class="op-row-video-background-wrap"><div class="op-video-background-overlay"></div><video class="op-video-background" preload="auto" loop autoplay muted="true" data-muted="false"></video></div><div class="fixed-width"><div class="one-column column cols" id="le_body_row_1_col_1"><div class="element-container cf hide-mobile" data-style="eyJoaWRlTW9iaWxlIjoxLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_1"><div class="element"><div style="height:24px"></div><span id="tve_leads_end_content" style="display: block; visibility: hidden; border: 1px solid transparent;"></span></div></div><div class="element-container cf" data-style="" id="le_body_row_1_col_1_el_2"><div class="element"> <h5 style='font-style:normal;font-weight:normal;color:#ffffff;text-align:center;'><span style="text-decoration: underline;">Atenção: Novo Vídeo Liberado</span></h5> </div></div><div class="element-container cf hide-mobile" data-style="eyJoaWRlTW9iaWxlIjoxLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_3"><div class="element"><div style="height:10px"></div></div></div><div class="element-container cf" data-style="eyJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_4"><div class="element"><div style="height:10px"></div></div></div><div class="element-container cf" data-style="" id="le_body_row_1_col_1_el_5"><div class="element"> <h2 style='font-size:50px;color:#ffffff;text-align:center;'>Passo a Passo Ao Vivo (e Prático) Que Usei Para Faturar <span style="color: #000000;"><strong style="background: #fff000; border-radius: 50px; padding: 0px 7px;"><span class="cifrao">R$ </span>81.548,25</strong></span> Em 30 Dias Na Internet</h2> </div></div><div class="element-container cf hide-mobile" data-style="eyJoaWRlTW9iaWxlIjoxLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_6"><div class="element"><div style="height:10px"></div></div></div><div class="element-container cf" data-style="eyJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_7"><div class="element"><div style="height:10px"></div></div></div><div class="element-container cf" data-style="" id="le_body_row_1_col_1_el_8"><div class="element"> <h5 style='font-style:normal;font-weight:normal;color:#000000;text-align:center;'><span style="background: #fff000; border-radius: 50px; padding: 0px 7px;">E como <span style="text-decoration: underline;">Você</span> pode <span style="text-decoration: underline;">Copiar</span> o que <span style="text-decoration: underline;">Eu Fiz</span> </span></h5> </div></div><div class="element-container cf hide-mobile" data-style="eyJoaWRlTW9iaWxlIjoxLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_9"><div class="element"><div style="height:24px"></div></div></div><div class="element-container cf" data-style="eyJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_1_col_1_el_10"><div class="element"><div style="height:24px"></div></div></div></div></div></div><div style='padding-top:0px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable section parte-negativa   " id="le_body_row_2" data-style="eyJlbGVtZW50SWQiOiJsZV9ib2R5X3Jvd18yIiwiY3NzQ2xhc3MiOiJwYXJ0ZS1uZWdhdGl2YSIsInBhZGRpbmdUb3AiOiIwIiwiYm9yZGVyVG9wV2lkdGgiOiIiLCJib3JkZXJUb3BDb2xvciI6IiIsImJvcmRlckJvdHRvbVdpZHRoIjoiIiwiYm9yZGVyQm90dG9tQ29sb3IiOiIiLCJzZWN0aW9uU2VwYXJhdG9yVHlwZSI6Im5vbmUiLCJzZWN0aW9uU2VwYXJhdG9yU3R5bGUiOiIiLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGVsYXkiOiIifSwicm93U2Nyb2xsRml4ZWRQb3NpdGlvbiI6Im5vbmUiLCJyb3dTY3JvbGxGaXhlZE1vYmlsZSI6ZmFsc2UsImFkZG9uIjp7InZpZGVvX2JhY2tncm91bmRfdHlwZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV93aWR0aCI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV9oZWlnaHQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF9tcDQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF93ZWJtIjoiIiwidmlkZW9fYmFja2dyb3VuZF91cmxfb2d2IjoiIiwidmlkZW9fYmFja2dyb3VuZF92ZXJ0aWNhbF9hbGlnbiI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9jb2xvciI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9vcGFjaXR5IjoiMCIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9pbWFnZSI6IiIsInZpZGVvX2JhY2tncm91bmRfaW1hZ2VfcG9zaXRpb24iOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX2FsdGVybmF0aXZlX2ltYWdlIjoiIn19"><div class="op-row-video-background-wrap"><div class="op-video-background-overlay"></div><video class="op-video-background" preload="auto" loop autoplay muted="true" data-muted="false"></video></div><div class="fixed-width"><div class="one-column column cols" id="le_body_row_2_col_1"><div class="element-container cf" data-style="eyJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_2_col_1_el_1"><div class="element"><div class="op-popup cf" data-width="700"  data-open-effect="fade"  data-close-effect="fade"  data-open-speed="normal"  data-close-speed="normal"  data-border-color="#ffffff"  data-border-size="15"  data-padding-top="20"  data-padding-bottom="20"  data-padding-left="30"  data-padding-right="30"  data-exit-intent="N"  data-trigger-time="0"  data-trigger-dontshow="0"  data-dont-show-on-tablet="N"  data-dont-show-on-mobile="N"  data-popup-id="op_popup_id_1534945900677"  data-epicbox-title="OverlayOptimizer Content" ><div class="op-popup-button "><div style="text-align:center"><button type="submit" class="image-button"><img src="https://formulanegocioonline.com/wp-content/uploads/2018/08/novo-video-e1534946759277.jpg" alt=""  /></button></div></div><div class="op-popup-content"><div class="element-container op-popup-element-container "  data-popup-child="true"><h4 style='text-align:center;'>Conteúdo Altamente Especial</h4></div><div class="element-container op-popup-element-container "  data-popup-child="true"><h2 style='text-align:center;'>Vou Mandar O Link Para Seu <strong>EMAIL</strong></h2></div><div class="element-container op-popup-element-container "  data-popup-child="true">
<div id="5c8c1703b88b2" class="optin-box optin-box-6" style="margin-right: auto;margin-left: auto;">
    <div class="optin-box-content">
        <form action="https://ug301.infusionsoft.com/app/form/process/a1d604fcfaca826156bafb69c086d6ab" method="post" id="inf_form_a1d604fcfaca826156bafb69c086d6ab" class="cf op-optin-validation"><div style="display:none"><input type="hidden" name="inf_form_xid" value="a1d604fcfaca826156bafb69c086d6ab" /><input type="hidden" name="inf_form_name" value="Preencheu Formulario &#091;FNO Geral&#093;" /><input type="hidden" name="infusionsoft_version" value="1.70.0.71349" /><input type="hidden" name="redirect_url" value="https://ug301.infusionsoft.com/app/form/process/a1d604fcfaca826156bafb69c086d6ab" /><input type="hidden" name="email_field" value="inf_field_Email" /></div>            <div class="text-boxes">
          <div class="text-box email"><input type="email" required="required" name="inf_field_Email" placeholder="Digite seu email aqui..." value="" /></div>            </div>
            <button type="submit" class="default-button"><span>VER AGORA</span></button>                    <input type="hidden" id="op_optin_nonce" name="op_optin_nonce" value="376df7f181" /><input type="hidden" name="_wp_http_referer" value="/" /></form>
    <p class="privacy"><img src="https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/assets/images/optin_box/privacy.png" alt="privacy" width="16" height="15" /> Nunca vou te enviar spam... claro!</p>    </div>
</div>
</div></div></div></div></div><div class="element-container cf" data-style="eyJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGlyZWN0aW9uIjpudWxsLCJhbmltYXRpb25EZWxheSI6IiJ9fQ==" id="le_body_row_2_col_1_el_2"><div class="element"><div style="height:12px"></div></div></div><div class="element-container cf botao-responsivo" data-style="eyJhZHZhbmNlZENsYXNzIjoiYm90YW8tcmVzcG9uc2l2byIsImV4dHJhcyI6eyJhbmltYXRpb25FZmZlY3QiOiIiLCJhbmltYXRpb25EaXJlY3Rpb24iOm51bGwsImFuaW1hdGlvbkRlbGF5IjoiIn19" id="le_body_row_2_col_1_el_3"><div class="element"><div class="op-popup cf" data-width="700"  data-open-effect="fade"  data-close-effect="fade"  data-open-speed="normal"  data-close-speed="normal"  data-border-color="#ffffff"  data-border-size="15"  data-padding-top="20"  data-padding-bottom="20"  data-padding-left="30"  data-padding-right="30"  data-exit-intent="N"  data-trigger-time="0"  data-trigger-dontshow="0"  data-dont-show-on-tablet="N"  data-dont-show-on-mobile="N"  data-popup-id="op_popup_id_1534945900677"  data-epicbox-title="OverlayOptimizer Content" ><div class="op-popup-button "><div style="text-align:center"><style type="text/css">#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e .text {font-size:25px;color:#ffffff;font-weight:bold;}#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e {padding:30px 40px;border-width:0px;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;background:#4484fb;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4484fb), color-stop(100%, #4484fb));background:-webkit-linear-gradient(top, #4484fb 0%, #4484fb 100%);background:-moz-linear-gradient(top, #4484fb 0%, #4484fb 100%);background:-ms-linear-gradient(top, #4484fb 0%, #4484fb 100%);background:-o-linear-gradient(top, #4484fb 0%, #4484fb 100%);background:linear-gradient(to bottom, #4484fb 0%, #4484fb 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4484fb, endColorstr=#4484fb, GradientType=0);box-shadow:inset 0px -5px 0px 1px rgba(55,106,201,0.5);}#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e .gradient {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e .shine {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e .active {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}#btn_1_34b9e7beb94579c7ccfa2aca5113fd9e .hover {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}</style><a href="#" id="btn_1_34b9e7beb94579c7ccfa2aca5113fd9e" class="css-button style-1"><span class="text">Quero Assistir O Vídeo Rápido</span><span class="hover"></span><span class="active"></span></a></div></div><div class="op-popup-content"><div class="element-container op-popup-element-container "  data-popup-child="true"><h4 style='text-align:center;'>Conteúdo Altamente Especial</h4></div><div class="element-container op-popup-element-container "  data-popup-child="true"><h2 style='text-align:center;'>Vou Mandar O Link Para Seu <strong>EMAIL</strong></h2></div><div class="element-container op-popup-element-container "  data-popup-child="true">
<div id="5c8c1703b88b2" class="optin-box optin-box-6" style="margin-right: auto;margin-left: auto;">
    <div class="optin-box-content">
        <form action="https://ug301.infusionsoft.com/app/form/process/a1d604fcfaca826156bafb69c086d6ab" method="post" id="inf_form_a1d604fcfaca826156bafb69c086d6ab" class="cf op-optin-validation"><div style="display:none"><input type="hidden" name="inf_form_xid" value="a1d604fcfaca826156bafb69c086d6ab" /><input type="hidden" name="inf_form_name" value="Preencheu Formulario &#091;FNO Geral&#093;" /><input type="hidden" name="infusionsoft_version" value="1.70.0.71349" /><input type="hidden" name="redirect_url" value="https://ug301.infusionsoft.com/app/form/process/a1d604fcfaca826156bafb69c086d6ab" /><input type="hidden" name="email_field" value="inf_field_Email" /></div>            <div class="text-boxes">
          <div class="text-box email"><input type="email" required="required" name="inf_field_Email" placeholder="Digite seu email aqui..." value="" /></div>            </div>
            <button type="submit" class="default-button"><span>VER AGORA</span></button>                    <input type="hidden" id="op_optin_nonce" name="op_optin_nonce" value="376df7f181" /><input type="hidden" name="_wp_http_referer" value="/" /></form>
    <p class="privacy"><img src="https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/assets/images/optin_box/privacy.png" alt="privacy" width="16" height="15" /> Nunca vou te enviar spam... claro!</p>    </div>
</div>
</div></div></div></div></div></div></div></div><div style='padding-top:50px;padding-bottom:50px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable section   " id="le_body_row_3" data-style="eyJlbGVtZW50SWQiOiJsZV9ib2R5X3Jvd18zIiwicGFkZGluZ1RvcCI6IjUwIiwicGFkZGluZ0JvdHRvbSI6IjUwIiwiYm9yZGVyVG9wV2lkdGgiOiIiLCJib3JkZXJUb3BDb2xvciI6IiIsImJvcmRlckJvdHRvbVdpZHRoIjoiIiwiYm9yZGVyQm90dG9tQ29sb3IiOiIiLCJzZWN0aW9uU2VwYXJhdG9yVHlwZSI6Im5vbmUiLCJzZWN0aW9uU2VwYXJhdG9yU3R5bGUiOiIiLCJleHRyYXMiOnsiYW5pbWF0aW9uRWZmZWN0IjoiIiwiYW5pbWF0aW9uRGVsYXkiOiIifSwicm93U2Nyb2xsRml4ZWRQb3NpdGlvbiI6Im5vbmUiLCJyb3dTY3JvbGxGaXhlZE1vYmlsZSI6ZmFsc2UsImFkZG9uIjp7InZpZGVvX2JhY2tncm91bmRfdHlwZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZSI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV93aWR0aCI6IiIsInZpZGVvX2JhY2tncm91bmRfeW91dHViZV9oZWlnaHQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF9tcDQiOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX3VybF93ZWJtIjoiIiwidmlkZW9fYmFja2dyb3VuZF91cmxfb2d2IjoiIiwidmlkZW9fYmFja2dyb3VuZF92ZXJ0aWNhbF9hbGlnbiI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9jb2xvciI6IiIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9vcGFjaXR5IjoiMCIsInZpZGVvX2JhY2tncm91bmRfb3ZlcmxheV9pbWFnZSI6IiIsInZpZGVvX2JhY2tncm91bmRfaW1hZ2VfcG9zaXRpb24iOiIiLCJ2aWRlb19iYWNrZ3JvdW5kX2FsdGVybmF0aXZlX2ltYWdlIjoiIn19"><div class="op-row-video-background-wrap"><div class="op-video-background-overlay"></div><video class="op-video-background" preload="auto" loop autoplay muted="true" data-muted="false"></video></div><div class="fixed-width"><div class="one-column column cols" id="le_body_row_3_col_1"></div></div></div></div>        <div class="full-width footer small-footer-text">
                        <div class="row">
                <div class="fixed-width">
                
                        <style>
                            .footer-navigation ul li a,
                            .footer-navigation ul li a:hover{
                                font-size: 14px;text-shadow: none;
                            }

                            .footer,
                            .footer p,
                            .op-promote a,
                            .footer .footer-copyright,
                            .footer .footer-disclaimer{
                                text-shadow: none;
                            }

                            .footer p{ font-size: 14px; }
                        </style>
                    <p class="footer-copyright"><p>Live Media LTDA - Alex Vargas - CNPJ: 20.291.560/0001-50</p> <p>Rua Avenida Brasil - Caixa Postal 67 | Centro - Portão RS | CEP 93180-970</p> <p> Estamos Mudando O Mundo ❤ , Vamos Juntos? Por Alex Vargas </p></p>                </div>
            </div>
        </div>
            </div><!-- container -->
<!-- Start Subscriber Embed Code -->
<script type="text/javascript">
var subscribersSiteId = '53a68ab1-eda5-432e-852c-586611463736';
var subscribersServiceWorkerPath = 'index406f.html?firebase-messaging-sw';
</script>
<script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
<!-- End Subscriber Embed Code --><div class="tl-states-root tl-anim-rotational"><div  class="tl-style" id="tve_two_set" data-state="3">
        <div class="tve_two_set_vms_step1 tve_post_lightbox tve-leads-lightbox">
        <div style="visibility: hidden; position: fixed; left: -9000px" class="tl-lb-target tve-leads-track-lightbox-3" data-s-state=""><div class="tve_p_lb_overlay" style="opacity:0.95"></div><div data-anim="rotational" class="tve_p_lb_content tve-tl-anim tl-anim-rotational bSe cnt" style="border-width:7px;max-width:810px"><div class="tve_p_lb_inner" id="tve-p-scroller" style=""><article><style type="text/css" class="tve_global_style"></style><div class="tve-leads-conversion-object" data-tl-type="lightbox"><div class="tve_flt"><div id="tve_editor" class="tve_shortcode_editor"><div class="tve_p_lb_control tve_editor_main_content tve_content_save"><p class="tve_p_center ttfm2 bold_text rft" data-unit="px" style="line-height: 40px; margin-top: -18px !important; margin-bottom: 0px !important; font-size: 40px;"><span class="tve_custom_font_size rft" style="font-size: 40px;"><font color="#0274be"><span class="bold_text ttfm2 ttfm3">AULA COMPLETA</span></font><span class="bold_text ttfm2"><font color="#0274be">:</font></span><font color="#151515">﻿﻿﻿﻿ Passo A Passo Fundamental Usado Para Montar Negócios Digitais 100% Do Zero</font></span><font color="#151515"></font></p>
<div class="thrv_wrapper thrv_page_section" data-tve-style="1">
<div class="out" style="background-color: #EAEAEA">
<div class="in darkSec">
<div class="cck tve_clearfix">
</div>
</div>
</div>
</div>
<div style="width: 539px;" class="thrv_wrapper tve_image_caption aligncenter">
<span class="tve_image_frame">
<a href="https://www.nucleoexpert.com/aula-online-guia-para-criar-um-negocio-online-v3/" target="_blank" class="" rel="" data-tcb-events=""><img class="tve_image" alt="" src="http://formulanegocioonline.com/wp-content/uploads/2016/09/print-video-popup.png" style="width: 539px;" width="539" height="303" data-attachment-id="2206"></a>
</span>
</div>
<div class="thrv_wrapper thrv_page_section" data-tve-style="1">
<div class="out" style="background-color: #EAEAEA">
<div class="in darkSec">
<div class="cck tve_clearfix">
</div>
</div>
</div>
</div><div class="thrv_wrapper thrv_button_shortcode tve_defaultBtn tve_fullwidthBtn" data-tve-style="1">
<div class="tve_btn tve_nb tve_btn7 tve_blue tve_normalBtn">
<a href="https://www.nucleoexpert.com/aula-online-guia-para-criar-um-negocio-online-v3/" class="tve_btnLink" target="_blank" style="font-size: 25px; line-height: 25px;">
<span class="tve_left tve_btn_im">
<i></i>
<span class="tve_btn_divider"></span>
</span>
<span class="tve_btn_txt">CLIQUE PARA ASSISTIR A AULA</span>
</a>
</div>
</div></div></div></div></div></article></div><a href="javascript:void(0)" class="tve_p_lb_close" style="border-width:7px;" title="Close">x</a></div></div></div></div></div><!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'VKhVxtz9Qg';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code2.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE --><script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/popup.min.js?ver=2.5.19.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var OPValidation = {"labels":{"email":"Please enter valid email address","text":"Please fill all fields"},"ajaxUrl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","nonce":"99fbec281f"};
var OPValidation = {"labels":{"email":"Please enter valid email address","text":"Please fill all fields"},"ajaxUrl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","nonce":"99fbec281f"};
var OPValidation = {"labels":{"email":"Please enter valid email address","text":"Please fill all fields"},"ajaxUrl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","nonce":"99fbec281f"};
var OPValidation = {"labels":{"email":"Please enter valid email address","text":"Please fill all fields"},"ajaxUrl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","nonce":"99fbec281f"};
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/validation.min.js?ver=2.5.19.1'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/comment-reply.min.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/formulanegocioonline.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tve_frontend_options = {"is_editor_page":"","page_events":[],"is_single":"1","ajaxurl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","social_fb_app_id":"","dash_url":"https:\/\/formulanegocioonline.com\/wp-content\/plugins\/thrive-leads\/thrive-dashboard","translations":{"Copy":"Copy"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/thrive-leads/tcb/editor/js/dist/frontend.min.js?ver=2.1.11'></script>
<script type='text/javascript' src='http://formulanegocioonline.com/wp-content/plugins/thrive-leads/js/frontend.min.js?ver=2.1.4'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlusPack/js/elements/opplus-front-all.min.js?ver=1.1.10'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tve_dash_front = {"ajaxurl":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","force_ajax_send":"","is_crawler":""};
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/thrive-leads/thrive-dashboard/js/dist/frontend.min.js?ver=2.1.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var q2w3_sidebar_options = [{"sidebar":"sidebar-1","margin_top":100,"margin_bottom":0,"stop_id":"","screen_max_width":0,"screen_max_height":0,"width_inherit":false,"refresh_interval":1500,"window_load_hook":false,"disable_mo_api":false,"widgets":["media_image-3"]}];
/* ]]> */
</script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/q2w3-fixed-widget/js/q2w3-fixed-widget.min.js?ver=5.1.5'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-includes/js/wp-embed.min.js?ver=5.1.1'></script>
<script type='text/javascript' src='https://formulanegocioonline.com/wp-content/plugins/optimizePressPlugin/lib/js/menus.min.js?ver=2.5.19.1'></script>
<script type="text/javascript">/*<![CDATA[*/if ( !window.TL_Const ) {var TL_Const={"security":"becb41fd4b","ajax_url":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","forms":{"lightbox":{"_key":"3","trigger":"exit_intent","trigger_config":{"m":""},"form_type_id":2205,"main_group_id":2204,"active_test_id":""}},"action_conversion":"tve_leads_ajax_conversion","action_impression":"tve_leads_ajax_impression","ajax_load":0,"main_group_id":2204,"display_options":{"allowed_post_types":[],"flag_url_match":null},"custom_post_data":{"http_referrer":"https:\/\/www.google.com\/"},"current_screen":{"screen_type":1,"screen_id":0},"ignored_fields":["email","_captcha_size","_captcha_theme","_captcha_type","_submit_option","_use_captcha","g-recaptcha-response","__tcb_lg_fc","__tcb_lg_msg","_state","_form_type","_error_message_option","_back_url","_submit_option","url","_asset_group","_asset_option","mailchimp_optin"]};} else {ThriveGlobal.$j.extend(true, TL_Const, {"security":"becb41fd4b","ajax_url":"https:\/\/formulanegocioonline.com\/wp-admin\/admin-ajax.php","forms":{"lightbox":{"_key":"3","trigger":"exit_intent","trigger_config":{"m":""},"form_type_id":2205,"main_group_id":2204,"active_test_id":""}},"action_conversion":"tve_leads_ajax_conversion","action_impression":"tve_leads_ajax_impression","ajax_load":0,"main_group_id":2204,"display_options":{"allowed_post_types":[],"flag_url_match":null},"custom_post_data":{"http_referrer":"https:\/\/www.google.com\/"},"current_screen":{"screen_type":1,"screen_id":0},"ignored_fields":["email","_captcha_size","_captcha_theme","_captcha_type","_submit_option","_use_captcha","g-recaptcha-response","__tcb_lg_fc","__tcb_lg_msg","_state","_form_type","_error_message_option","_back_url","_submit_option","url","_asset_group","_asset_option","mailchimp_optin"]})} /*]]> */</script><script type="text/javascript">var TL_Front = TL_Front || {}; TL_Front.impressions_data = TL_Front.impressions_data || {};TL_Front.impressions_data.lightbox = {"group_id":2204,"form_type_id":2205,"variation_key":"3","active_test_id":0,"output_js":true};</script><script type="text/javascript">
	(function ($) {
	var event_data = {"form_id":"tve-leads-track-lightbox-3","form_type":"lightbox"};
	event_data.source = 'exit_intent';
			/* Chrome has a stupid bug in which it triggers almost simultaneously "mouseenter" "mouseleave" "mouseenter" if the following applies:
	 - at page load, the cursor is outside the html element
	 - the user moves the cursor over the html element
	 */
	var chrome_fix_id = 0,
	me = function (e) { /* mouse enter */
	clearTimeout(chrome_fix_id);
	},
	ml = function (e) {

	if (e.clientY <= config.s) {
	chrome_fix_id = setTimeout(function () {
	ThriveGlobal.$j(TL_Front).trigger('showform.thriveleads', event_data);
	c();
	}, 50);
	}
	},
	c = function () { // cancel
	$(document).off('mouseenter.exit_intent mouseleave.exit_intent');
	},
	config = { // we can adjust this and the code below to allow users to tweak settings
	s: 20 // sensitivity
	};
	$(function () {
	$(document).on('mouseleave.exit_intent', ml)
	.on('mouseenter.exit_intent', me);

	});
		})
(ThriveGlobal.$j);
</script>
<!-- ==============================================================-->
    <!-- =============================MODAL============================-->
    <!-- ==============================================================-->
    <div class="bg-modal">
			<div class="modal-contents">
	
					<div class="close">+</div>
					<img src="https://richardmiddleton.me/comic-100.png" alt="">
	
					<form action="">
							<input class="inputter" type="text" placeholder="Name">
							<input class="inputter" type="email" placeholder="E-Mail">
							<a href="#" class="button">Submit</a>
					</form>
	
			</div>
	</div>
	<script src="modalEmail.js"></script>
</body>

<!-- Mirrored from formulanegocioonline.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Mar 2019 15:33:16 GMT -->
</html>